body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div label {
  color: #004D5A;
  font-size: 20px;
}

#contactForm div input[type="text"], .form-control:focus {
  color: #0a9bac;
  font-size: 20px;
}

#contactForm .btn-secondary {
  background-color: rgb(25, 44, 52);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  fill: #0a9bac;
}
.icon-linkedin-square {
  width: 0.857421875em;
}
