.titleCardsWeb {
    
    font-size:18px !important; 
    font-weight: bold !important;
   border-bottom:1px;
   border-bottom-style:solid;
   padding-top:10px !important;
}

/* span.card-title.grey-text.text-darken-4.activator{
    background:blue; 
    font-size:18px !important; 
    font-weight: bold !important;
   border-bottom:1px;
   border-bottom-style:solid;
   padding-top:10px !important;  
} */
i.right{
    margin-top:5px;
}

.activator{
    padding-top:20px;
    /* background:blue; */
}

@media only screen and (max-width: 700px) {
   .links{
    font-size:7px;
   }
   .card .card-content {
    
       padding-top:7px;
   }
    .titleCardsWeb {
       
        font-size:10px !important;
        font-weight: bold !important;
        line-height: 14px !important;
        /* text-align:center !important; */
        /* margin-left:-15px !important; */
    }
    p {
        margin-left:-15px;
        font-size: 10px;
      }
    i.right{
        display:none;
    }
    div.card{
        height:170px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    .links{
        font-size:6px;
        line-height:4px;
        margin-left:-5;
       }
    .titleCardsWeb {
       text-align:center;
         font-size:5px !important;
         font-weight: bold !important;
         line-height: 8px !important;
         /* text-align:center !important; */
         /* margin-left:-15px !important; */
     }
    }